body{
    font-family: sans-serif;
  }

  h2{
    font-family: sans-serif;
  }

  p{
    font-family: sans-serif;
}
  

h1{

    color: brown;
    font-family: sans-serif;
    
}


input[name='reviews']{

    width: 300px;
    height: 150px;
}

