h1{

    color: brown;
    font-family: sans-serif;

}

h2{
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
}


.popularitybutton{

  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 60px;

}



  div {
    padding: 0 10px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  #column1 {
    background-color: burlywood;
    /*width: 50%;*/
    
   
 
  }
  p{
    font-family: sans-serif;
  }
  
  #column2 {
    background-color: whitesmoke;
    
  }
  
  .boxed {
    border: 3px solid black ;
    margin-right: 3px;
  }
  
  h2 {
    color: #000000;
    text-align: center;
  }