p { 
    color:blue; 
  }

h1 {
    color:red;
  }


/* Style the search box inside the navigation bar */
.search input[type=text] {
    float: left;
    padding: 3px;
    border: 2px solid black;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 20px;
}
  
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .search input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 12;
      padding: 14px;
    }
    .search input[type=text] {
      border: none;
    }
}

  /* ROOMTYPE BUTTON */
.roomtypebtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown-roomtype {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.roomtype-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.roomtype-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.roomtype-content a:hover {background-color: skyblue;}
  
/* Show the dropdown menu on hover */
.dropdown-roomtype:hover .roomtype-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-roomtype:hover .roomtypebtn {background-color: black;}


/* Style the search box inside the navigation bar */

.floorprice{

  display: inline-block;
}

.floorprice input[type=text] {
  float: left;
  padding: 5px;
  border: 2px solid black;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 12px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .floorprice input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 12;
    padding: 14px;
  }
  .floorprice input[type=text] {
    border: none;
  }
}

.ceilprice{

  display: inline-block;

  }



.ceilprice input[type=text] {
  float: left;
  padding: 5px;
  border: 2px solid black;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 12px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .ceilprice input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 12;
    padding: 14px;
  }
  .ceilprice input[type=text] {
    border: none;
  }
}

 /* Navigation link styles */
 nav a {
  padding: 10px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  background-color: lightskyblue;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: black
}
nav a:hover {
  color: black;
  background-color: rgb(66, 66, 190);
}
nav a.active {
  color: black;
}

.boxed {
  border: 1px solid green ;
}