h1{

    color: brown;
    text-align: center;
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
  }
  

body{
    font-family: sans-serif;
  }



.avgbox {
    margin-left:35%;
    border: 4px solid black ;
    background-color: black;
    width: 25%;
    text-align: center;
    color: white;
    
  
  }